{% set carouselId = 'carousel-' ~ loop.index %}

<div class="container py-3">
    <div class="row">
        <div class="col-12">
            {% for row in fluid %}

                {% if row.heading != '' %}<h2>{{ row.heading }}</h2>{% endif %}

                {% for related in row.related %}

                    <!-- CAROUSEL ENTRY: {{ related.title }} -->

                    <div id="{{ carouselId }}" class="carousel slide" data-bs-ride="true">
                    
                        <div class="carousel-indicators">
                            {% for image in related.carousel_images %}
                                <button type="button" data-bs-target="#{{ carouselId }}" data-bs-slide-to="{{ loop.index0 }}" aria-label="Slide {{ loop.index }}" {% if loop.first %}class="active" aria-current="true"{% endif %}></button>
                            {% endfor %}
                        </div>
                        
                        <div class="carousel-inner">
                            {% for image in related.carousel_images %}
                                <div class="carousel-item{% if loop.first %} active{% endif %}">
                                    <img src="{{ image.file }}" class="d-block w-100" alt="{{ image.alt_text }}">
                                </div>
                            {% endfor %}
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#{{ carouselId }}" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#{{ carouselId }}" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span>
                        </button>

                    </div>

                {% endfor %}

            {% endfor %}
        </div>
    </div>
</div>
