
{%- set row = fluid.first() -%}
{%- set classes = row.style | length ? 'text-bg-' ~ row.style ~ ' bg-gradient' : '' -%}
<section id="{{ fluidId }}" data-block="{{ fluidName }}" class="{{ classes }}">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-4 offset-lg-1 d-flex flex-column justify-content-center">
                <h2>{{ row.heading }}</h2>
                {%- if row.subheading | length -%}
                    <h3 class="h6 fw-semibold text-uppercase">{{ row.subheading }}</h3>
                {%- endif -%}
                {{ row.rich_text | raw }}
            </div>
            {%- if row.image | length -%}
                {%- set order = row.image_alignment | default('') -%}
                {%- set rotate = row.image_alignment == 'order-first' ? '1n' : '1' -%}
                <div class="col-lg-4 {{ order }} offset-lg-1">
                    <div class="ratio ratio-1x1">
                        <img src="{{ row.image }}" class="img-fluid rounded-4 rotate-{{ rotate }} object-fit-cover" alt="{{ row.image.description | default('') }}">
                    </div>
                </div>
            {%- endif -%}
        </div>
    </div>
</section>
