{% extends "ee::site._layout" %}

{% set globals = exp.channel.entries({channel:"global_variables",limit:1}).first() %}
{% set entry = exp.channel.entries({channel:"404",limit:1}).first() %}

{% block hero %}
    {% include 'ee::partials/_hero' %}
{% endblock %}

{% block contents %}
    {% for fluid in entry.page_builder %}
        {% if global.logged_in_group_id == '1' %}<!-- FLUID TYPE:{{ fluid.field.field_name }} | INDEX:{{ loop.index }} -->{% endif %}
        <section id="{{ fluid.field.field_name }}-{{ loop.index }}" data-block="{{ fluid.field.field_name }}">
            {% include 'ee::builder/_page_' ~ fluid.field.field_name %}
        </section>
    {% endfor %}
{% endblock %}
