{% macro links(href,text,class,target) %}
    <li>
        <a href="{{ href }}"{% if class != '' %} class="{{ class }}"{% endif %}{% if target != '' %} target="{{ target }}"{% endif %}>
            {{ text }}
        </a>
    </li>
{% endmacro %}

{% macro picture(orig,webp,alt,class) %}
    <picture>
        {% if webp|length %}<source srcset="{{ webp }}" type="image/webp" />{% endif %}
        <img src="{{ orig }}"{% if class|length %} class="{{ class}}"{% endif %} alt="{{ alt }}">
    </picture>
{% endmacro %}
