{% extends "ee::site._layout" %}
{% from 'ee::site/_macros' import picture %}

{% set globals = exp.channel.entries({channel:"global_variables",limit:1}).first() %}
{% set entry = exp.channel.entries({channel:"pages",dynamic:true,limit:1}).first() %}
{% set posts = exp.channel.entries({channel:"posts",per_page:8,orderby:"entry_date",sort:"desc"}) %}

{% block hero %}
    {% include 'ee::partials/_hero' %}
{% endblock %}

{% block contents %}

    <h2 class="visually-hidden">Posts</h2>

    <div class="container py-5">
        <div class="row">

            {% if not posts|length %}
                {{ exp.redirect(404) }}
            {% endif %}

            {% for post in posts %}
                
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <article class="card h-100 shadow">
                        {% if post.featured_image|length %}
                            {% set featuredImage = post.featured_image.resize_crop({'resize:height': 600, 'crop:x': 100, 'crop:width': 800, 'crop:height': 600, 'crop:maintain_ratio': false }) %}
                            {% set featuredImageWebp = post.featured_image.webp({'height': 600, 'width': 800, 'maintain_ratio': false }) %}
                            {% set altText = post.featured_image.description %}
                            {{ picture(featuredImage,featuredImageWebp,altText,'card-img-top') }}
                        {% endif %}
                        <div class="card-body">
                            <h3 class="card-title h5">{{ post.title }}</h3>
                            {% if post.categories|length %}
                                <div class="mb-2">
                                    {% for category in post.categories %}
                                        <a class="badge text-bg-secondary text-decoration-none" href="/blog/category/{{ category.cat_url_title }}">{{ category.cat_name }}</a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <p class="card-text">{{ post.post_description|str_words(25) }}</p>
                            <a href="{{ post.page_url }}" class="btn btn-primary">Read More<span class="visually-hidden">: {{ post.title }}</span></a>
                        </div>
                    </article>
                </div>
            {% endfor %}

            <div class="col-12 pt-5">
                {{ posts.links }}
            </div>

        </div>
    </div>

    {% for fluid in entry.page_builder %}

        {% set fluidId = fluid.field.field_name ~ '-' ~ loop.index %}
        {% set fluidName = fluid.field.field_name %}

        {% if global.logged_in %}<!-- FLUID TYPE:{{ fluidName }} | INDEX:{{ loop.index }} -->{% endif %}
        {% include 'ee::builder/_page_' ~ fluidName %}

    {% endfor %}

{% endblock %}
