<section>
    {% set form = exp.email.contact_form({
        user_recipients: 'no',
        recipients: 'hello@danggood.dev',
        charset: 'utf-8',
        class: 'needs-validation',
        return: 'https://ee7-coilpack.ddev.site/thank-you'
    }) %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 py-5">
                <h2>Support Form</h2>
                {{ form.open()|raw }}
                    <div class="row">

                        <div class="col mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" id="firstName" name="firstName" class="form-control" required>
                        </div>

                        <div class="col mb-3">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" id="lastName" name="lastName" class="form-control" required>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="from" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="from" name="from" aria-describedby="emailHelp" value="{{ form.member_email }}" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>

                    <div class="mb-3">
                        <label for="subject" class="form-label">Subject</label>
                        <input type="text" id="subject" name="subject" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" name="message" rows="3">
                            Support Email from: {{ form.member_name }}
                            Sent at:  {{ form.current_time.format("Y-m-d") }}
                        </textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                {{ form.close()|raw }}
                <script>
                    (() => {
                    'use strict'

                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    const forms = document.querySelectorAll('.needs-validation')

                    // Loop over them and prevent submission
                    Array.from(forms).forEach(form => {
                        form.addEventListener('submit', event => {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }

                            form.classList.add('was-validated')
                            }, false)
                        })
                    })()
                </script>
            </div>
        </div>
    </div>
</section>
