<section>
    {% set form = exp.email.contact_form({
        recipients: 'hello@danggood.dev',
        charset: 'utf-8',
        form_class: 'needs-validation',
        form_id: form_1,
        redirect: 'return',
        return: 'https://ee7-coilpack.ddev.site/thank-you',
        form_attributes: {
            "novalidate": "true"
        }
    }) %}

    {#{{ dump(form) }}#}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 py-5">
                <h2>Support Form</h2>
                {{ form.open()|raw }}
                    <div class="row">

                        <div class="col mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" id="firstName" name="firstName" class="form-control" required>
                            <div class="invalid-feedback">This is a required field.</div>
                        </div>

                        <div class="col mb-3">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" id="lastName" name="lastName" class="form-control" required>
                            <div class="invalid-feedback">This is a required field.</div>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="from" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="from" name="from" aria-describedby="emailHelp" value="{{ form.member_email }}" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        <div class="invalid-feedback">This is a required field.</div>
                    </div>

                    <div class="mb-3">
                        <label for="subject" class="form-label">Subject</label>
                        <input type="text" id="subject" name="subject" class="form-control" required>
                        <div class="invalid-feedback">This is a required field.</div>
                    </div>

                    <div class="mb-3">
                        <label for="message" class="form-label">Comments</label>
                        <textarea class="form-control" id="comments" name="comments" rows="3" required></textarea>
                        <div class="invalid-feedback">This is a required field.</div>
                    </div>

                    <div class="mb-3 d-none">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" name="message" rows="3" disabled></textarea>
                    </div>

                    {% if global.captcha|length %}
                        <p>Please enter the word you see in the image below:</p>
                        <p>{#{{ form.captcha }}#}<br /> 
                        <input type="text" name="captcha" value="" maxlength="20" /></p>
                    {% endif %}

                    <button type="submit" class="btn btn-primary">Submit</button>

                {{ form.close()|raw }}
                
            </div>
        </div>
    </div>
</section>
