<nav class="navbar navbar-expand-md bg-light bg-gradient py-4 shadow sticky-top">
    <div class="container">

        {% if globals.logo %}
            <a class="navbar-brand" href="/">
                <img src="{{ globals.logo }}" alt="{{ global.site_name }}">
            </a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                {% set navigation = exp.structure.nav({
                    status: 'open',
                    show_depth: 3,
                    strict_start_from: "no",
                    override_hidden_state: "no",
                    max_depth: 4,
                    
                }) %}
                {#{{ dump(navigation)}}#}
                {% for item in navigation %}
                    <li class="nav-item{% if item.children|length %} dropdown{% endif %}">

                        <a href="{{ item.url }}" class="nav-link{% if item.children|length %} d-inline-block pe-0{% endif %}{% if item.active %} active{% endif %}">{{ item.entry.title }}</a>

                        {% if item.children|length %}

                            <a href="#" class="nav-link d-inline-block ps-0 dropdown-toggle{% if item.active %} active{% endif %}" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">{{ item.entry.title }} Dropdown</span></a>

                            <ul class="dropdown-menu">
                            
                                {% for child in item.children %}
                                    <li>
                                        <a href="{{ child.url }}" class="dropdown-item{% if child.active %} active{% endif %}">{{ child.entry.title }}</a>
                                    </li>
                                {% endfor %}

                            </ul>

                        {% endif %}
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</nav>
