{%- macro showNav(item,aClasses = "nav-link",liClasses = "nav-item") -%}
    {%- import _self as self -%}
    {% set urls = {0:item.url, 1:item.entry.internal_redirect.first().page_url, 2:item.entry.external_redirect}%}
    {%- set selected = item.entry.redirect_type.selected | length ? item.entry.redirect_type.data : 0 -%}
    {% set pageUrl = urls[selected] %}
    {%- set newTab = item.entry.new_tab == '1' -%}
    <li class="{{ liClasses }}{% if item.children | length %} dropdown{% endif %}">
        <a href="{{ pageUrl }}" class="{{ aClasses }}{% if item.children | length %} d-inline-block pe-0{% endif %}{% if item.active %} active{% endif %}"{% if newTab %} target="_blank"{% endif %}>{{ item.entry.title }}</a>
        {%- if item.children | length -%}
            <a href="#" class="nav-link d-inline-block ps-0 dropdown-toggle{% if item.active %} active{% endif %}" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">{{ item.entry.title }} Dropdown</span></a>
            <ul class="dropdown-menu">
                {%- for child in item.children -%}
                    {{ self.showNav(child,'dropdown-item','') }}
                {%- endfor -%}
            </ul>
        {%- endif -%}
    </li>
{%- endmacro -%}

{% macro builder(type,fluid,index) %}
    {%- set fluidId = fluid.field.field_name ~ '-' ~ index -%}
    {%- set fluidName = fluid.field.field_name -%}
    {%- if global.logged_in -%}<!-- FLUID TYPE:{{ fluidName }} | INDEX:{{ loop.index }} -->{%- endif -%}
    {%- include 'ee::builder/_' ~ type ~ '_' ~ fluidName -%}
{% endmacro %}

{%- macro links(href,text,class,target) -%}
    <li>
        <a href="{{ href }}"{% if class | length %} class="{{ class }}"{% endif %}{% if target %} target="_blank"{% endif %}>{{ text }}</a>
    </li>
{%- endmacro -%}

{%- macro picture(orig,webp,alt,class) -%}
    <picture>
        {% if webp | length %}<source srcset="{{ webp }}" type="image/webp" />{% endif %}
        <img src="{{ orig }}"{% if class | length %} class="{{ class }}"{% endif %} alt="{{ alt }}">
    </picture>
{%- endmacro -%}

{%- macro postcard(post) -%}
    {%- import _self as self -%}
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
        <article class="card h-100 shadow rounded-4">
            {% if post.featured_image | length %}
                {% set featuredImage = post.featured_image.resize_crop({'resize:height': 600, 'crop:x': 100, 'crop:width': 800, 'crop:height': 600, 'crop:maintain_ratio': false }) %}
                {% set featuredImageWebp = post.featured_image.webp({'height': 600, 'width': 800, 'maintain_ratio': false }) %}
                {% set altText = post.featured_image.description %}
                {{ self.picture(featuredImage,featuredImageWebp,altText,'card-img-top rounded-4') }}
            {% endif %}
            <div class="card-body">
                <h3 class="card-title h5">{{ post.title }}</h3>
                {% if post.categories | length %}
                    <div class="mb-2">
                        {% for category in post.categories %}
                            <a class="badge text-bg-secondary text-decoration-none" href="/blog/category/{{ category.cat_url_title }}">{{ category.cat_name }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
                <p class="card-text">{{ post.post_description | str_words(25) }}</p>
                <a href="{{ post.page_url }}" class="btn btn-primary">Read More<span class="visually-hidden">: {{ post.title }}</span></a>
            </div>
        </article>
    </div>
{%- endmacro -%}

{%- macro formSubmit(form,textColor,linkColor,buttonStyle) -%}
    {% set captchaType = '' %}
    {% if form.captcha|length %}
        {% if form.captcha starts with '<i' %}
            {% set captchaType = 'ee' %}
        {% elseif form.captcha starts with '<s' %}
            {% set captchaType = 'recaptcha' %}
        {% endif %}
    {% endif %}
    {% if captchaType == 'ee' %}
        <div class="mb-3">
            <label for="captcha" class="form-label fw-bold">Captcha</label>
            <div class="d-flex flex-row">
                <div class="mb-3 flex-grow-1 bg-white p-1">{{ form.captcha|raw }}</div>
                <div class="w-100 ps-4">
                    <input type="text" id="captcha" name="captcha" class="form-control" value="{{ form.captcha_word }}" required>
                    <div class="invalid-feedback">This is a required field.</div>
                </div>
            </div>
        </div>
    {% elseif captchaType == 'recaptcha' %}
        {{ form.captcha|raw }}
    {% endif %}
    <button type="submit" class="btn btn-{{ buttonStyle }} shadow">Submit</button>
    {% if captchaType == 'recaptcha' %}
        <p class="mt-3{{ textColor }}"><small>This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy" class="{{ linkColor }} link-opacity-75-hover">Privacy Policy</a> and <a href="https://policies.google.com/terms" class="{{ linkColor }} link-opacity-75-hover">Terms of Service</a> apply.</small><p>
    {% endif %}
{%- endmacro -%}


